<HistoireDetail @model = {{this.model}} @type = "author"/>
      
<div class="table-responsive mt-5">
    <table class="table table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Résumé</th>
            </tr>
        </thead>
        <tbody>

            {{#each this.model.etapes as |etape|}}
                {{#if etape}}
                    <tr>
                        <td>{{etape.titre}}</td>
                        <td>{{etape.description}}</td>
                    </tr>
                {{/if}}
            {{/each}}
        </tbody>
    </table>
</div>
    

  
