

<div class="p2input">
      {{input type="text" value="titre" placeholder="Player 2" cols="60" rows="1"}}
</div>
<button type="button" class="btn bg-third ft-c-white" {{action "ajouter_Histoire"}}>En avant !</button>