<form {{action 'ajouter_Histoire' on="submit" id="histoireForm"}}>
{{input type = "text" placeholder = "Entrer titre" value = titre}}
{{input type = "text" placeholder = "Entrer un resumé" value = resume}}
<button type="submit">Creer nouvelle histoire</button>
</form>
