<div class="container-fluid p-0">


  <div class="side-menu bg-dark" id="menu">
    <LinkTo @route='index'><div class="logo"></div></LinkTo>
    <div class="side-nav p-0">
      <ul class="p-0">
        <LinkTo @route='histoires.catalogue'><li class="ft-c-light">Catalogue</li></LinkTo>
        <LinkTo @route='histoires.new'><li class="ft-c-white">Créer une histoire</li></LinkTo>
        <hr>
        {{#each this.model.modelGenre as |genre|}}
          <a href="/histoires/genre/{{genre.id}}"><li class="ft-c-white">{{genre.libelle}}</li></a>
        {{/each}}
      </ul>
    </div>

  </div>
  <div id="burgerMenu" class="burger"></div>
  <div class="content">
    <div class="welcome bg-light">
      <span>Lecteur xxx, à vous de jouer !</span>

    </div>

    <div class="container ml-0 mr-0 m-auto">
      {{outlet}}
    </div>
  </div>
</div>

<script>
  $('#burgerMenu').click(function () {
    $('#menu').toggleClass("show");
    this.backgroundColor("yellow");
  });

</script>