<div class="row row-cols-1 row-cols-md-3">
  {{#each this.model as |histoire|}}
<div class="col mb-4">
    <div class="card">
    <img src="https://via.placeholder.com/1080" class="card-img-top" alt="...">
      <div class="card-body">
          {{!-- this.titre --}}
        <h5 class="card-title">{{histoire.titre}}</h5>
          {{!-- this.description --}}
        <p class="card-text">{{histoire.resume}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>